{% csrf_token %}
{% load widget_tweaks %}
{% for error in form.non_field_errors %}
    <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
        <div class="col-sm-10">
            {{ field|add_class:'form-control' }}
        </div>
</div>
{% endfor %}
<button class="btn btn-primary">{{ button_text }}</button>