{% extends "base.html" %}
{% block title %}Guest book{% endblock %}
{% block menu %}
      <li class="nav-item active">
        <a class="nav-link">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new_record' %}">New entry</a>
      </li>
{% endblock %}
{% block content %}
    {% for record in records %}
        <div class="card m-2">
            <div class="card-header">
                {{ record.author }} ({{ record.email_author }})
            </div>

            <div class="card-body">
                <p class="card-text">{{ record.text }}</p>
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <form action="{% url 'index' %}"><a href="/delete/?pk={{ record.pk }}" class="btn btn-primary">deletion</a></form>
                    </div>
                    <div class="col-auto my-1">
                        <form><a href="/edit/?pk={{ record.pk }}" class="btn btn-primary">Edit</a></form>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}