{% extends "base.html" %}
{% block title %}New challenge{% endblock %}
{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new_record' %}">New entry</a>
      </li>
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'new_record' %}">
        {% include 'partial/record_form.html' with button_text='update' %}
    </form>
</div>
{%  endblock %}